.history-right-column{ 
    background: #fff;
    height: 566px;
}
.history-right-column .list-group-item:hover {
    background-color: #4d50649c;
}
.history-right-column .list-group-item.active {
    background-color: #4d50649c;
    border-color: #4d50649c;
} 
.history-page .remove {
    position: absolute;
    top: 10px;
    right: 13px;
    cursor: pointer;
    color: #2c3131c7;
}
@media (min-width: 768px) and (max-width: 1199px ) {
    .card .card-horizontal .card-body .channel-img  {
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img {
        margin-right: 0px !important;
    }
}
h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media (max-width: 991px){
    .card {
        margin-top: 30px;
    }
}
@media (max-width: 767px){
    .card .card-horizontal .card-icons img {
        width: 100%;
    }
    .card .card-horizontal time {
        left : 10px;
    }
    .card .card-horizontal .fa-play {
        right:48%;
    }
}